@model AvondaleIslamicCentre.Models.Donation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDonated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDonated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AICUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AICUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DonationId" class="btn btn-edit">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
</div>
