@model IEnumerable<AvondaleIslamicCentre.Models.Hall>

@{
    ViewData["Title"] = "Index";
}

<h1>Halls</h1>

<p>
    <a asp-action="Create" class="btn btn-create">Create New Hall</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableTo)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.HallId" class="btn btn-edit btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.HallId" class="btn btn-details btn-sm ms-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.HallId" class="btn btn-delete btn-sm ms-1">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
